USE [master]
GO
/****** Object:  Database [ShortLink]    Script Date: 1/6/2026 13:59:44 ******/
CREATE DATABASE [ShortLink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShortLink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL_2022\MSSQL\DATA\ShortLink.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShortLink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL_2022\MSSQL\DATA\ShortLink_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShortLink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShortLink]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 1/6/2026 13:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[id] [uniqueidentifier] NOT NULL,
	[shortCode] [nvarchar](250) NOT NULL,
	[originalUrl] [nvarchar](250) NOT NULL,
	[clicks] [int] NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK_Link] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
